<html> 
<head> 
<title>BMI Calculator</title> 
</head> 
<style>

    body{
       background-color:rgb(213, 40, 69);
}
.formelt{
    color:black;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 6px;
}
h1{
    color:rgb(128, 0, 0);
    text-align: center;
    padding-top: 20px;
}
</style>
<body>
<div class="edge"> 
<div class="box"> 
    <h1>Amrita B.S(25018474)</h1>
<h1>BMI Calculator</h1> 
<form method="POST">
{% csrf_token %}
<div class="formelt"> 
Weight:<input type="text" name="weight" value="{{w}}"></input>(in kg)<br/> 
</div> 
<div class="formelt"> 
Height:<input type="text" name="height" value="{{h}}"></input>(in meters)<br/> 
</div> 
<div class="formelt"> 
<input type="submit" value="Calculate"></input><br/> 
</div> 
<div class="formelt"> 
BMI:<input type="text" name="bmi" value="{{bmi}}"></input>(in kg/m^2)<br/> 
</div>
</form>
</div>
</div> 
</body>
</html>